h1{
    color:darkkhaki
}
#myh4{
    font-size: 70px;
}
.header{
    color: darkgray;
}
.center{
    text-align: center;
}
.header2{
    color: darkred;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}